*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
    list-style-type: none;
}
.promo {
    background-color: aliceblue;
    /* border: 2px solid red; */
}
header{
    background-color: #e8e8e8;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu-list{
    display: flex;
    gap: 2em;
}
.menu-list li a{
    color: #222;
    text-decoration: none;
}
.button-icons{
    display: flex;
    align-items: center;
}
.button-icons button{
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: #F6941E;
}
.button-icons button a{
    color: white;
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: none;
}
.fa-bars{
    font-size: 2em;
    border: 2px solid black;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    border: none;
    display: none;
}

@media(max-width:1024px){
    .button-icons button{
        padding: 5px 12px;
    }
}
@media(max-width:745px){
    nav{
        width: 100%;
    }
}
@media(max-width:735px){
    nav{
        justify-content: space-between;
        width: 100%;
    }
    .menu-list{
        display: none;
    }
    .button-icons button{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .logo{
        width: 120px;
    }
}

/* ---hero-sect--- */

.hero-sect{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.hero-text{
    /* border: 2px solid black; */
    padding: 20px;
}
.hero-text h1{
    font-size: 3em;
    color: #F6941E;
}
.hero-text p{
    text-align: start;
    margin-bottom: 20px;
}
.hero-text a{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e8e8e8;
    color: #222;
    border: none;
    padding: 10px 30px;
}
.hero-image{
    width: 600px;
    border-radius:20px;
}

@media(max-width:994px){
    .hero-image{
        width: 400px;
    }

    .hero-text h1{
        font-size: 2em;
    }
}

@media(max-width:718px){
    .hero-sect{
        flex-direction: column;
    }
}
@media(max-width:439px){
    .hero_image{
        display: none;
    }
}