*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
    list-style-type: none;
}
.promo-alert {
    background-color: aliceblue;
}
header{
    background-color: #e8e8e8;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu-list{
    display: flex;
    gap: 2em;
}
.menu-list li a{
    color: #222;
}